@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  /* Couleurs personnalisées */
  --color-primary: #8b6914;
  --color-primary-dark: #5a4a0a;
  --color-primary-light: #d4af37;
  
  --color-background: #1a1410;
  --color-background-light: #2a1810;
  
  --color-text: #f0e68c;
  --color-text-muted: #b8a678;
}
 
body {
  background-color: var(--color-background);
  color: var(--color-text);
}